@font-face {
  font-family: 'Prata';
  src: url("../fonts/Prata.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham.otf") format("truetype");
  font-weight: lighter; }

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: #291B0A; }
  body::-webkit-scrollbar {
    width: 10px;
    background: #291B0A; }
  body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #E7D9CD; }
  body.overflow {
    overflow: hidden; }

img {
  object-fit: contain; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none; }

svg,
path,
rect,
path,
circle {
  transition: all 0.4s ease; }

a {
  text-decoration: none;
  transition: all 0.4s ease;
  outline: none;
  cursor: pointer;
  color: #E7D9CD; }

button {
  border: none;
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  outline: none;
  cursor: pointer; }

input,
textarea {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none; }

h1 {
  margin: 0px;
  color: #E7D9CD;
  font-size: 3.05vw;
  font-weight: lighter;
  line-height: 1.5em;
  font-family: 'Prata'; }

h2 {
  margin: 0px;
  font-family: 'Prata';
  font-weight: lighter;
  font-size: 2.22vw; }

h3 {
  margin: 0px;
  color: #E7D9CD;
  font-family: 'Prata';
  font-size: 1.7vw;
  font-weight: lighter;
  letter-spacing: -0.5px;
  transition: all 0.4s; }

p {
  margin: 0px;
  color: #A99085;
  font-size: 1.1vw;
  transition: all 0.4s; }

section[data-decor="border"] {
  position: relative; }
  section[data-decor="border"]:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3vh;
    background-size: 100% 100%;
    background-image: url(../images/decor/bottom.svg);
    bottom: 0%; }

section[data-decor="lace"]:before {
  position: absolute;
  content: '';
  width: 8vw;
  height: 17vw;
  right: 0%;
  background-image: url(../images/decor/lace.svg);
  background-size: 100% 100%;
  top: 17%; }

section[data-decor="lace"]:after {
  position: absolute;
  content: '';
  width: 8vw;
  height: 17vw;
  left: 0%;
  background-image: url(../images/decor/lace.svg);
  background-size: 100% 100%;
  top: 17%;
  transform: rotate(180deg); }

.link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 2.8px !important;
  position: relative; }
  .link span {
    margin-right: 15px;
    transition: all 0.4s;
    font-weight: bold; }
  .link:before {
    position: absolute;
    content: '';
    -webkit-mask: url(../images/decor/link.svg) no-repeat 100% 100%;
    mask: url(../images/decor/link.svg) no-repeat 100% 100%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #926E4E;
    width: 6vw;
    height: 1.6vh;
    left: 5.5vw;
    top: 10%;
    transition: all 0.3s; }
  .link:hover:before {
    background-color: #E7D9CD;
    left: 6vw; }

.link-1 {
  font-size: 1.7vw;
  font-weight: bold;
  letter-spacing: 1.1px; }

.link-2 {
  font-size: 1.11vw;
  color: #987B6E;
  transition: all 0.3s; }
  .link-2:hover {
    color: #E7D9CD; }

.link-3 {
  font-size: 0.83vw; }

.link-4 {
  font-size: 0.6vw;
  text-transform: uppercase; }

.loader_wrap {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #291B0A;
  z-index: 15; }
  .loader_wrap.hide {
    display: none; }

.loader_logo {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite; }
  .loader_logo img {
    width: 12vmin; }

@keyframes loader {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.section_top {
  color: #fff;
  padding-left: 0.5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: 'Gotham';
  padding-top: 105px;
  overflow: hidden; }

.header_wrap {
  min-height: 11vh;
  display: flex;
  justify-content: space-between; }
  .header_wrap .link-3 {
    color: #E7D9CD;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: bold;
    position: relative; }

header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #291B0A;
  z-index: 10; }
  header.open_menu {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden; }
    header.open_menu .header_logo {
      display: none; }
    header.open_menu .header_wrap {
      position: fixed;
      width: 100%;
      background: #291B0A;
      height: 100%;
      min-height: 100vh;
      padding: 15% 10% 10% 8.5%;
      z-index: 10;
      left: 0%;
      top: 0%;
      overflow-y: scroll; }
    header.open_menu .header_clouse {
      display: block;
      position: absolute;
      right: 8.5%;
      top: 32px; }
    header.open_menu .header_info {
      display: block; }
    header.open_menu .header_actions {
      display: none; }
    header.open_menu .header_menu {
      display: block;
      flex: 0 100%;
      height: max-content; }
  header.open_search {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden; }
    header.open_search .header_logo {
      display: none; }
    header.open_search .header_wrap {
      position: fixed;
      width: 100%;
      background: #291B0A;
      height: 100%;
      min-height: 100vh;
      padding: 10% 10% 10% 8.5%;
      z-index: 10;
      left: 0%;
      top: 0%;
      overflow-y: scroll; }
    header.open_search .header_clouse {
      display: block;
      position: absolute;
      right: 8.5%;
      top: 32px; }
    header.open_search .header_actions {
      display: block;
      flex: 0 100%; }
    header.open_search #header_action_phone,
    header.open_search #header_action_menu {
      display: none !important; }
    header.open_search #header_action_search {
      width: 100% !important; }
      header.open_search #header_action_search.open {
        border: none;
        border-bottom: 2px solid #84665B; }
        header.open_search #header_action_search.open .search_wrap input {
          text-transform: uppercase;
          padding: 2.5% 0% 2.5% 2%;
          font-size: 2vw;
          color: #987B6E;
          letter-spacing: 2px; }
          header.open_search #header_action_search.open .search_wrap input::-webkit-input-placeholder {
            color: #987B6E; }
          header.open_search #header_action_search.open .search_wrap input::-moz-placeholder {
            color: #987B6E; }
          header.open_search #header_action_search.open .search_wrap input:-moz-placeholder {
            color: #987B6E; }
          header.open_search #header_action_search.open .search_wrap input:-ms-input-placeholder {
            color: #987B6E; }
        header.open_search #header_action_search.open .search_wrap .search_button img {
          width: 2.5vw; }

.header_logo {
  transform: translate(0px, 4px);
  flex: 0 15%;
  display: flex;
  align-items: center; }
  .header_logo a {
    display: block; }
    .header_logo a:hover {
      transform: scale(1.02); }
  .header_logo img {
    width: 9.75vw; }

.header_menu {
  flex: 0 50%;
  padding: 0px 0px 0px 1.7%; }
  .header_menu li {
    margin-right: 4.9%;
    height: 58%;
    position: relative; }
    .header_menu li:before {
      position: fixed;
      content: '';
      width: 109%;
      background: rgba(0, 0, 0, 0.5);
      top: 11vh;
      height: 100vh;
      left: 0%;
      transform: translate(-4%, 0%);
      transition: all 0.1s;
      display: none; }
    .header_menu li:after {
      position: absolute;
      content: url(../images/icons/triangle.svg);
      left: 40%;
      bottom: -3px;
      display: none; }
    .header_menu li:hover .header_list_menu {
      height: max-content;
      padding: 3% 0% 5.5%; }
    .header_menu li:hover .link-3 {
      color: #A99085; }
    .header_menu li:hover:before, .header_menu li:hover:after {
      display: block; }
    .header_menu li.list_menu_empty:before, .header_menu li.list_menu_empty:after {
      display: none !important; }

.header_list {
  display: flex;
  height: 100%;
  align-items: flex-end; }

.header_list_button {
  position: absolute;
  right: 0%;
  z-index: 2;
  transition: all 0.3s; }
  .header_list_button svg {
    width: 100%;
    height: 19px; }
  .header_list_button path {
    fill: #987B6E; }
  .header_list_button:hover path {
    fill: #fff; }

.header_list_prev {
  top: 30%;
  right: -1.4%;
  width: 2.3vw; }
  .header_list_prev:hover {
    transform: translate(-5px, 0px); }

.header_list_next {
  top: 41%;
  right: -1.4%;
  width: 2.3vw; }
  .header_list_next:hover {
    transform: translate(5px, 0px); }

.header_info {
  display: none; }

.header_list_icon {
  display: none; }

.header_list_menu {
  position: fixed;
  top: 11vh;
  width: 100%;
  background: #54332B;
  left: 0%;
  padding: 3% 0% 6.4%;
  transform: translate(0%, 0%);
  height: 0%;
  overflow: hidden;
  padding: 0% 0% 0%; }

.header_list_slider {
  width: 89.5%;
  margin: 0 auto 4.7%;
  display: flex;
  transform: translate(0.3%, 0px); }
  .header_list_slider article {
    flex: 0 22.5%;
    margin-right: 3.3%; }
    .header_list_slider article:last-child {
      margin-right: 0%; }
  .header_list_slider.slick-slider {
    width: 92.25%;
    transform: translate(1.74%, 0px); }
    .header_list_slider.slick-slider:before {
      position: absolute;
      content: '';
      width: 3.8vw;
      height: 100%;
      background: #54332B;
      z-index: 1;
      right: -1%; }
    .header_list_slider.slick-slider article {
      margin-right: 0%; }
    .header_list_slider.slick-slider .product_photo {
      width: 87.5%; }
      .header_list_slider.slick-slider .product_photo img {
        transform: scale(1.01); }
    .header_list_slider.slick-slider .product_info {
      width: 88%;
      margin-top: 9.3%; }

.header_list_bottom {
  display: flex;
  justify-content: center; }
  .header_list_bottom .link {
    transform: translate(5px, 0px); }

.product:hover .product_photo img {
  transform: scale(1.05); }

.product:hover h3,
.product:hover p {
  color: #926E4E; }

.product.slick-active:nth-child(2) {
  opacity: 0.1; }

.product_photo {
  width: 100%;
  height: 41.1vh;
  overflow: hidden;
  display: block; }
  .product_photo img {
    width: 100%;
    height: 100%;
    min-height: 385px;
    transition: all 0.4s;
    float: right;
    transform: scale(1.02);
    object-fit: cover; }

.product_info {
  margin-top: 8.5%;
  display: block; }
  .product_info h3 {
    margin-bottom: 6%; }

.header_actions {
  flex: 0 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px; }
  .header_actions span {
    color: #E7D9CD; }
    .header_actions span span {
      color: #A99085; }
  .header_actions li {
    display: flex;
    align-items: center;
    margin-left: 9.3%;
    white-space: nowrap; }
    .header_actions li:first-child {
      margin: 0%; }
    .header_actions li .search_wrap {
      display: none; }
  .header_actions .link-3 {
    display: flex;
    align-items: center;
    letter-spacing: 1px; }
    .header_actions .link-3 svg {
      width: 2.2vw;
      margin-right: 15px;
      transform: scale(1);
      float: left; }
    .header_actions .link-3:hover rect {
      fill: #926E4E; }
    .header_actions .link-3:hover path {
      fill: #E7D9CD; }

.header_clouse {
  display: none; }

.search_button {
  width: 1.13vw;
  margin-top: 5px; }
  .search_button svg {
    width: 100%;
    transition: all 0.4s ease; }
  .search_button:hover svg {
    transform: scale(1.1); }
  .search_button:hover path {
    stroke: #A99085; }

#header_action_phone.close {
  display: none; }

.header_search_wrap {
  width: 100%; }

#header_action_search {
  transition: all 0.4s;
  width: 4%; }
  #header_action_search.open {
    border: 2px solid #84665B;
    width: 89%; }
    #header_action_search.open form {
      width: 100%; }
    #header_action_search.open .search_wrap {
      display: flex; }
      #header_action_search.open .search_wrap input {
        padding: 3.5% 0% 3.5% 5%;
        font-family: 'Gotham';
        color: #E7D9CD;
        font-size: 1vw;
        width: 90%;
        outline: none; }
        #header_action_search.open .search_wrap input::-webkit-input-placeholder {
          font-family: 'Gotham';
          color: #E7D9CD; }
        #header_action_search.open .search_wrap input::-moz-placeholder {
          font-family: 'Gotham';
          color: #E7D9CD; }
        #header_action_search.open .search_wrap input:-moz-placeholder {
          font-family: 'Gotham';
          color: #E7D9CD; }
        #header_action_search.open .search_wrap input:-ms-input-placeholder {
          font-family: 'Gotham';
          color: #E7D9CD; }
      #header_action_search.open .search_wrap .search_button {
        width: 16%; }
        #header_action_search.open .search_wrap .search_button img {
          width: 1.2vw; }
    #header_action_search.open #open_search {
      display: none; }

#header_action_menu {
  display: none; }

.folder {
  width: 100%; }

.folder_social {
  position: absolute;
  left: -2.3%;
  top: 51%;
  transform: translate(0%, -69%); }
  .folder_social li {
    margin-bottom: 4vh; }

.folder_social_link {
  cursor: pointer;
  transition: all 0.3s; }
  .folder_social_link svg {
    transform: scale(1.3);
    transition: all 0.3s;
    width: 0.7vw;
    height: 1.3vh; }
  .folder_social_link:hover svg path {
    fill: #987B6E; }

.folder_slide {
  position: relative;
  height: inherit;
  outline: none;
  margin-bottom: 60px; }

.folder_photo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .folder_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.folder_info {
  position: relative;
  z-index: 2;
  max-height: 900px;
  height: 900px;
  width: 46%;
  display: flex;
  flex-direction: column;
  padding: 0% 0% 0% 6.6%;
  justify-content: center; }
  .folder_info .title {
    margin-bottom: 5.5%;
    transform: translate(0%, -13%); }

.folder_button {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  right: -0.5%;
  top: 47.5%;
  width: 5vw;
  transition: all 0.3s; }
  .folder_button svg {
    width: 100%;
    height: 1.6vh; }
  .folder_button path {
    fill: #987B6E; }
  .folder_button:hover path {
    fill: white; }

.folder_prev {
  transform: translate(100%, -4vh); }
  .folder_prev:hover {
    transform: translate(95%, -4vh); }

.folder_next {
  transform: translate(100%, 2vh); }
  .folder_next:hover {
    transform: translate(105%, 2vh); }

.folder_link {
  position: absolute !important;
  bottom: 6.5%;
  transform: rotate(-90deg);
  left: 1.6%;
  color: #E7D9CD;
  z-index: 5;
  cursor: pointer; }
  .folder_link:before {
    display: none; }
  .folder_link img {
    width: 5vw;
    margin-left: 4px;
    transition: all 0.3s;
    -webkit-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite; }
  .folder_link:hover img {
    transform: translate(10px, 0px); }

@keyframes bounce {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(10px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

.folder_slider .slick-dots {
  bottom: 15%;
  right: 3%;
  display: flex !important;
  justify-content: flex-end; }
  .folder_slider .slick-dots li {
    width: 10%;
    color: #fff;
    margin-left: 2.6%;
    height: auto;
    position: relative;
    color: #E7D9CD;
    opacity: 0.4;
    transition: all 0.4s; }
    .folder_slider .slick-dots li.slick-active {
      opacity: 1; }
      .folder_slider .slick-dots li.slick-active:before {
        position: absolute;
        content: '';
        width: 56%;
        height: 1vh;
        bottom: -33px;
        left: 1%;
        background-image: url(../images/decor/link2.svg);
        background-size: 100% 100%; }
    .folder_slider .slick-dots li:hover {
      opacity: 1; }
  .folder_slider .slick-dots span {
    text-align: left;
    display: block;
    font-size: 0.8vw; }
  .folder_slider .slick-dots p {
    text-align: left;
    margin-top: 10%;
    font-size: 0.83vw;
    line-height: 1.7em;
    color: #E7D9CD;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }

.fetures {
  margin-top: 16.5vh;
  position: relative;
  overflow: hidden; }
  .fetures .section_top {
    margin-bottom: 11vh; }

.features_item:nth-child(n+4) figure {
  margin: 0% 0% 6vh 0%; }
  .features_item:nth-child(n+4) figure:before {
    display: none; }

.features_item figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 10vh;
  margin: 0% 0% 9vh 0%; }
  .features_item figure:before {
    position: absolute;
    content: '';
    width: 95%;
    height: 0.6vh;
    background-size: 100% 100%;
    background-image: url(../images/decor/border.svg);
    bottom: 0%; }
  .features_item figure img {
    width: 7vw;
    transition: all 0.3s; }
  .features_item figure:hover img {
    transform: scale(1.1); }
  .features_item figure:hover p {
    color: #E7D9CD; }

.features_info {
  text-align: center;
  margin-top: 3vh; }
  .features_info .title {
    margin-bottom: 3vh; }
  .features_info p {
    line-height: 1.5em;
    width: 82%;
    margin: 0 auto;
    letter-spacing: 0.2px; }

.products {
  margin-top: 18.5vh;
  position: relative; }
  .products .section_top {
    margin-bottom: 6vh; }
    .products .section_top .link-4 {
      transform: translate(-7vw, 0px);
      position: relative;
      height: max-content; }

.products_slider {
  display: flex;
  padding: 0% 0% 6% 1.3%;
  width: 100%; }
  .products_slider.slick-slider {
    width: 116%; }
    .products_slider.slick-slider .product {
      flex: 0 21.5%;
      margin-right: 0.70%; }
    .products_slider.slick-slider .slick-dots {
      bottom: 3.3%;
      width: 71.7%;
      left: 6.7%;
      display: flex !important;
      background: #54332B; }
      .products_slider.slick-slider .slick-dots li {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: auto;
        flex: 1; }
        .products_slider.slick-slider .slick-dots li button {
          background: rgba(0, 0, 0, 0);
          padding: 0px;
          height: 2px;
          width: 100%; }
          .products_slider.slick-slider .slick-dots li button:before {
            display: none; }
        .products_slider.slick-slider .slick-dots li.slick-active button {
          background: #fff; }

.product {
  flex: 0 21.5%;
  margin-right: 3%;
  transition: all 0.3s; }
  .product.slick-active,
  .product.slick-active + .slick-active,
  .product.slick-active + .slick-active + .slick-active,
  .product.slick-active + .slick-active + .slick-active + .slick-active {
    opacity: 1; }
  .product.slick-active + .slick-active + .slick-active + .slick-active + .slick-active {
    opacity: 0.3; }

.products_button {
  position: absolute;
  bottom: 0%;
  width: 5vw;
  transition: all 0.3s; }
  .products_button svg {
    width: 100%;
    height: 1.9vh; }
  .products_button path {
    fill: #987B6E; }
  .products_button:hover path {
    fill: white; }
  .products_button.products_prev {
    left: 0%;
    transform: translate(2%, -9px); }
    .products_button.products_prev:hover {
      transform: translate(-3%, -9px); }
  .products_button.products_next {
    left: 2.7%;
    transform: translate(0%, -9px); }
    .products_button.products_next:hover {
      transform: translate(5%, -9px); }

.projects_preview {
  margin: 18.3vh 0% 18vh 0%; }
  .projects_preview .section_top {
    padding-left: 1%;
    margin-bottom: 6.5vh; }
    .projects_preview .section_top .link-4 {
      transform: translate(-7vw, 0px);
      position: relative;
      height: max-content; }

.projects_preview_info {
  width: 69%;
  padding-left: 0.7%; }
  .projects_preview_info p {
    line-height: 1.5em;
    letter-spacing: 0.1px;
    margin-bottom: 5vh; }

.projects_preview_list {
  column-count: 2;
  margin-bottom: 9.5vh; }
  .projects_preview_list li {
    margin-bottom: 8.5%; }

.projects_preview_photo {
  width: 100%;
  padding: 0.5% 0.5% 1% 2%; }
  .projects_preview_photo img {
    width: 100%; }

.banner {
  width: 100%;
  height: 74vh;
  position: relative;
  margin-bottom: 9.5vh; }

.banner_photo {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .banner_photo img {
    width: 100%; }

.banner_info {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-direction: column;
  margin: 0 auto; }
  .banner_info .title {
    margin-bottom: 6%;
    transform: translate(0%, 60%); }
  .banner_info span {
    color: #E7D9CD;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.68vw; }
    .banner_info span:before {
      position: absolute;
      content: url(../images/decor/link.svg);
      right: -168%;
      transform: scale(1.35) translate(0px, 1px); }
    .banner_info span:after {
      position: absolute;
      content: url(../images/decor/link.svg);
      left: -168%;
      transform: scale(1.35) translate(0px, 0px) rotate(180deg); }

.partners {
  position: relative;
  padding-bottom: 18.5vh; }
  .partners .section_top {
    margin-bottom: 12vh; }

.partners_slider {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .partners_slider.slick-slider .slick-dots {
    bottom: -3%;
    width: 90%;
    left: 8.7%;
    display: flex !important;
    background: #54332B; }
    .partners_slider.slick-slider .slick-dots li {
      margin: 0px;
      padding: 0px;
      height: 2px;
      width: auto;
      flex: 1; }
      .partners_slider.slick-slider .slick-dots li button {
        background: rgba(0, 0, 0, 0);
        padding: 0px;
        height: 2px;
        width: 100%; }
        .partners_slider.slick-slider .slick-dots li button:before {
          display: none; }
      .partners_slider.slick-slider .slick-dots li.slick-active button {
        background: #fff; }

.partners_slide {
  flex: 0 16.6%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9vh; }
  .partners_slide:hover .partners_slide_photo {
    opacity: 1; }
    .partners_slide:hover .partners_slide_photo img {
      transform: scale(1.03); }
  .partners_slide:hover .partners_slide_info p {
    color: #E7D9CD; }

.partners_slide_photo {
  margin-bottom: 4vh;
  opacity: 0.8;
  transition: all 0.3s; }
  .partners_slide_photo img {
    height: 4.5vmax;
    transition: all 0.3s ease;
    float: left; }

.partners_slide_info p {
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.85vw;
  line-height: 1.5em;
  font-weight: bold;
  color: rgba(152, 123, 110, 0.5); }

.partners_button {
  position: absolute;
  bottom: -10%;
  width: 3vw;
  transition: all 0.3s;
  cursor: pointer; }
  .partners_button svg {
    width: 100%;
    height: 1.9vh; }
  .partners_button path {
    fill: #987B6E; }
  .partners_button:hover path {
    fill: white; }
  .partners_button.partners_prev {
    left: 1.2%;
    transform: translate(2%, -8px); }
    .partners_button.partners_prev:hover {
      transform: translate(-3%, -8px); }
  .partners_button.partners_next {
    left: 4.5%;
    transform: translate(0%, -8px); }
    .partners_button.partners_next:hover {
      transform: translate(5%, -8px); }

.contact_us {
  position: relative; }

.contact_us_info {
  display: flex;
  width: 100%;
  height: 55vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.5%; }
  .contact_us_info h3 {
    transform: translate(0px, 2.5vh);
    color: #926E4E; }

.contact_us_phone {
  transform: translate(0%, -2.5vh); }
  .contact_us_phone span {
    color: #A99085; }

.contact_us_icon {
  margin: 1.5% 0%;
  transition: all 0.4s ease; }
  .contact_us_icon svg {
    width: 9.51vmin;
    height: 4.7vmax; }
  .contact_us_icon:hover {
    transform: scale(1.2); }
    .contact_us_icon:hover path {
      fill: #E7D9CD; }
    .contact_us_icon:hover rect {
      fill: #926E4E; }

footer {
  padding: 12vh 0vh 9vh;
  position: relative; }
  footer:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2.5vh;
    background-size: 100% 100%;
    background-image: url(../images/decor/bottom.svg);
    top: 0%; }

.footer_contact {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  width: 78%; }

.footer_logo {
  display: block;
  margin-bottom: 10%; }
  .footer_logo img {
    width: 8.3vw; }

.footer_link {
  line-height: 1.5em;
  font-size: 0.83vw; }
  .footer_link span {
    color: #987B6E; }

.footer_social {
  margin-top: 12%;
  display: flex; }
  .footer_social li {
    margin-right: 13%; }
    .footer_social li:last-child {
      margin-right: 0%; }
  .footer_social svg {
    width: 1vw;
    height: 1.7vh; }
  .footer_social a:hover svg path {
    fill: #E7D9CD; }

.footer_info {
  padding: 4% 0% 0% 4.5%; }

.footer_span {
  font-size: 0.9vw;
  color: #E7D9CD;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  display: block;
  position: relative; }
  .footer_span:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    bottom: 0px;
    left: 0%;
    background-image: url(../images/decor/border.svg); }

.footer_list li {
  margin-bottom: 2.5vh; }

.breadcrumb {
  width: 100%;
  margin: 4.5vh 0vh; }

.breadcrumb_list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.3%; }

.breadcrumb_item {
  margin-right: 1.1%;
  position: relative;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  letter-spacing: 1.3px;
  color: #E7D9CD;
  margin-bottom: 10px; }
  .breadcrumb_item:before {
    position: absolute;
    content: '/';
    right: -14px;
    top: 0%;
    color: #E7D9CD; }
  .breadcrumb_item:last-child {
    opacity: 0.5; }
    .breadcrumb_item:last-child:before {
      display: none; }

.collection {
  margin-top: 6vh; }

.pagination {
  margin: 6vh 0%; }

.pagination_wrap {
  display: flex;
  align-items: center; }

.pagination_button {
  width: 2.7vw;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s; }
  .pagination_button svg {
    width: 100%;
    height: 18px;
    margin-top: 1px; }
  .pagination_button path {
    fill: #987B6E;
    transition: all 0.3s; }
  .pagination_button:hover path {
    fill: #E7D9CD; }
  .pagination_button.pagination_prev:hover {
    transform: translate(-5px, 0px); }
  .pagination_button.pagination_next:hover {
    transform: translate(5px, 0px); }

.pagination_list {
  display: flex;
  margin: auto 0.5vw; }

.pagination_item {
  font-size: 1vw;
  width: 2.3vw;
  text-align: center;
  font-weight: bold; }
  .pagination_item.active .pagination_link {
    color: #E7D9CD; }

.pagination_link {
  color: #987B6E;
  transition: all 0.3s;
  width: 100%;
  display: block; }
  .pagination_link:hover, .pagination_link.active {
    color: #E7D9CD; }

.gallery {
  margin: 11.5vh 0 6vh; }

.gallery_wrap.slick-slider {
  width: 180%;
  padding-left: 2%; }
  .gallery_wrap.slick-slider .slick-dots {
    width: 32.7%;
    left: 24%;
    bottom: -2.7%;
    display: flex !important;
    background: #54332B; }
    .gallery_wrap.slick-slider .slick-dots li {
      margin: 0px;
      padding: 0px;
      height: 2px;
      width: auto;
      flex: 1; }
      .gallery_wrap.slick-slider .slick-dots li button {
        background: rgba(0, 0, 0, 0);
        padding: 0px;
        height: 2px;
        width: 100%; }
        .gallery_wrap.slick-slider .slick-dots li button:before {
          display: none; }
      .gallery_wrap.slick-slider .slick-dots li.slick-active {
        background: #E7D9CD; }

.gallery_button {
  position: absolute;
  bottom: -6.5%;
  width: 12vw;
  transition: all 0.3s; }
  .gallery_button svg {
    width: 100%;
    height: 17px; }
  .gallery_button path {
    fill: #987B6E;
    transition: all 0.4s; }
  .gallery_button:hover path {
    fill: #E7D9CD; }
  .gallery_button.gallery_next {
    left: 14.5%; }
    .gallery_button.gallery_next:hover {
      left: 15.5%; }
  .gallery_button.gallery_prev {
    left: 4%; }
    .gallery_button.gallery_prev:hover {
      left: 3%; }

.gallery_photo {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
  outline: none; }
  .gallery_photo img {
    width: 100%;
    transition: all 0.3s;
    transform: scale(1);
    object-fit: cover; }
  .gallery_photo:hover img {
    transform: scale(1.05); }

.news,
.projects {
  margin: 6vh 0%; }

.news_item,
.projects_item {
  padding-left: 0.5%;
  margin-bottom: 6vh; }
  .news_item:hover .news_info p,
  .news_item:hover .projects_info p,
  .projects_item:hover .news_info p,
  .projects_item:hover .projects_info p {
    color: #E7D9CD; }

.news_photo,
.projects_photo {
  max-height: 590px;
  height: 590px;
  width: 100%;
  overflow: hidden; }
  .news_photo img,
  .projects_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    transform: scale(1); }

.news_info,
.projects_info {
  margin-top: 4.5vh;
  color: #E7D9CD; }
  .news_info h2,
  .projects_info h2 {
    margin-bottom: 3.5vh; }
  .news_info p,
  .projects_info p {
    font-size: 1.1vw;
    line-height: 1.5em;
    letter-spacing: 0.14px;
    margin-bottom: 4.5vh; }

.projects .section_top {
  margin-bottom: 6vh; }

.new[data-decor="lace"]:before, .new[data-decor="lace"]:after,
.project[data-decor="lace"]:before,
.project[data-decor="lace"]:after {
  top: 18.5%; }

.new_container,
.project_container,
.about_container {
  width: 63%;
  margin: 3vh auto;
  position: relative;
  padding: 0% 0% 4vh 0%;
  color: #E7D9CD; }
  .new_container:before,
  .project_container:before,
  .about_container:before {
    position: absolute;
    content: '';
    width: 159%;
    height: 2px;
    background-image: url(../images/decor/border.svg);
    left: 0%;
    bottom: 0%;
    transform: translate(-18%, 0%); }
  .new_container h1,
  .project_container h1,
  .about_container h1 {
    margin-bottom: 5vh; }
  .new_container img,
  .project_container img,
  .about_container img {
    width: 100%;
    max-height: 63vh;
    height: 63vh;
    object-fit: cover;
    margin: 1vh 0% 0%; }
  .new_container p,
  .project_container p,
  .about_container p {
    margin: 3.3vh 0%;
    line-height: 1.55em; }
  .new_container blockquote,
  .project_container blockquote,
  .about_container blockquote {
    position: relative;
    margin: 5% 0% 0% 2.5%;
    padding: 6% 0% 0% 2.5%; }
    .new_container blockquote:before,
    .project_container blockquote:before,
    .about_container blockquote:before {
      position: absolute;
      content: '';
      width: 0.2vw;
      height: 100%;
      background-image: url("../images/decor/blockquote_border.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      left: 0%;
      top: 0%; }
    .new_container blockquote:after,
    .project_container blockquote:after,
    .about_container blockquote:after {
      position: absolute;
      content: url(../images/decor/blockquote_top.svg);
      top: 0%;
      left: 0%;
      transform: scale(1.3) translate(1.4vw, -30%); }
    .new_container blockquote span,
    .project_container blockquote span,
    .about_container blockquote span {
      color: #E7D9CD;
      font-size: 0.75vw;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.5px; }
  .new_container i,
  .project_container i,
  .about_container i {
    font-size: 1.24vw;
    color: #E7D9CD;
    width: 79%;
    display: block;
    line-height: 1.3em;
    margin: 0% 0% 6% 0%; }
  .new_container ul,
  .project_container ul,
  .about_container ul {
    font-size: 1.1vw;
    margin-bottom: 6vh; }
    .new_container ul li,
    .project_container ul li,
    .about_container ul li {
      margin-bottom: 2.3vh;
      display: flex; }
    .new_container ul span,
    .project_container ul span,
    .about_container ul span {
      color: #AD9D90;
      width: 26.4%;
      display: inline-flex; }
  .new_container .plyr,
  .project_container .plyr,
  .about_container .plyr {
    width: 100%;
    margin: 6vh 0% 5vh;
    outline: none;
    height: 62vh; }

.navigation_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  margin-bottom: 9vh; }

.navigation_prev {
  margin-left: 1.4%;
  padding-left: 5vw; }
  .navigation_prev:before {
    transform: rotate(180deg) translate(10px, 2px);
    width: 4.3vw;
    height: 1.2vh;
    top: 45%;
    left: 0% !important; }
  .navigation_prev:hover:before {
    transform: rotate(180deg) translate(20px, 2px); }

.navigation_next {
  margin-left: 1.4%;
  padding-right: 5vw; }
  .navigation_next:before {
    transform: translate(10px, 2px);
    width: 4.3vw;
    height: 1.2vh;
    top: 45%;
    left: auto;
    right: 0%; }
  .navigation_next:hover:before {
    transform: translate(20px, 2px) !important;
    left: auto !important; }

.about_logo {
  width: 9.5vw;
  height: 160px;
  display: flex;
  margin: 0 auto 5.5vh; }
  .about_logo img {
    width: 10vw;
    height: 100%;
    max-height: 100%;
    object-fit: contain; }

.about_container {
  margin-top: 0px; }
  .about_container h1 {
    text-align: center;
    margin-bottom: 4.5vh; }
  .about_container blockquote {
    margin: 4% 0% 4% 2.5%; }

.about_slide {
  flex: 0 32.5%;
  margin-right: 3%;
  margin-bottom: 12vh;
  height: 62vh;
  overflow: hidden; }
  .about_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s; }
  .about_slide:hover img {
    transform: scale(1.05); }

.about_slider {
  display: flex;
  padding-left: 20px;
  margin-top: 25px; }
  .about_slider.slick-slider {
    width: 102%; }
    .about_slider.slick-slider .about_slide {
      margin-right: 0.7%; }
    .about_slider.slick-slider .slick-dots {
      bottom: 3.3%;
      width: 86.7%;
      left: 7%;
      display: flex !important;
      background: #54332B; }
      .about_slider.slick-slider .slick-dots li {
        margin: 0px;
        padding: 0px;
        height: 2px;
        width: auto;
        flex: 1; }
        .about_slider.slick-slider .slick-dots li button {
          background: rgba(0, 0, 0, 0);
          padding: 0px;
          height: 1px;
          width: 100%; }
          .about_slider.slick-slider .slick-dots li button:before {
            display: none; }
        .about_slider.slick-slider .slick-dots li.slick-active button {
          background: #fff; }

.about_button {
  position: absolute;
  bottom: 0.3%;
  width: 5vw;
  transition: all 0.3s;
  z-index: 1; }
  .about_button svg {
    width: 100%;
    height: 1.9vh; }
  .about_button path {
    fill: #987B6E; }
  .about_button:hover path {
    fill: white; }
  .about_button.about_prev {
    left: -0.5%;
    transform: translate(2%, -9px); }
    .about_button.about_prev:hover {
      transform: translate(-3%, -9px); }
  .about_button.about_next {
    left: 2.7%;
    transform: translate(0%, -9px); }
    .about_button.about_next:hover {
      transform: translate(5%, -9px); }

.contact {
  margin: 19vh 0% 12vh; }
  .contact[data-decor="lace"]:before, .contact[data-decor="lace"]:after {
    top: 20%; }

.contact_container {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.contact_list {
  margin-top: 5.5vh;
  color: #E7D9CD;
  position: relative;
  padding-bottom: 7px; }
  .contact_list:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-image: url("../images/decor/border.svg");
    left: 0%;
    bottom: 0%; }
  .contact_list li {
    display: flex;
    flex-direction: column;
    padding-bottom: 4.5vh; }
    .contact_list li span {
      font-weight: bold;
      font-size: 0.7vw;
      display: block;
      margin-bottom: 2vh;
      text-transform: uppercase;
      letter-spacing: 0.9px; }
    .contact_list li a {
      color: #987B6E;
      font-size: 0.83vw; }
      .contact_list li a:hover {
        color: #E7D9CD; }

.contact_social {
  display: flex;
  margin-top: 4vh; }
  .contact_social li {
    margin-right: 2.4vw; }
    .contact_social li svg {
      width: 0.78vw;
      height: 1.6vh;
      transition: all 0.3s; }
    .contact_social li path {
      fill: #E7D9CD; }
  .contact_social a:hover svg {
    transform: scale(1.5); }

.conatct_action {
  height: 100%;
  width: 55%; }
  .conatct_action h2 {
    text-align: center;
    margin-bottom: 5.5vh; }

.contact_form {
  background: #54332B;
  transform: translate(7.8%, 0%);
  width: 83%;
  padding: 9.5% 6.6% 6%;
  color: #E7D9CD;
  margin-top: -45px; }
  .contact_form label {
    position: relative;
    display: block;
    margin-bottom: 2.8vh; }
    .contact_form label.error .form_error {
      display: block; }
  .contact_form input,
  .contact_form textarea {
    border: 2px solid #987B6E;
    width: 100%;
    padding: 3.6% 1% 3.3% 5%;
    font-size: 1vw;
    color: #E7D9CD;
    display: block;
    font-family: 'Gotham';
    resize: none; }
    .contact_form input.error ~ .form_error,
    .contact_form textarea.error ~ .form_error {
      display: block; }
    .contact_form input::-webkit-input-placeholder,
    .contact_form textarea::-webkit-input-placeholder {
      color: #A99085;
      font-family: 'Gotham'; }
    .contact_form input::-moz-placeholder,
    .contact_form textarea::-moz-placeholder {
      color: #A99085;
      font-family: 'Gotham'; }
    .contact_form input:-moz-placeholder,
    .contact_form textarea:-moz-placeholder {
      color: #A99085;
      font-family: 'Gotham'; }
    .contact_form input:-ms-input-placeholder,
    .contact_form textarea:-ms-input-placeholder {
      color: #A99085;
      font-family: 'Gotham'; }

.form_error {
  display: none;
  margin: 1vh 0vh 4vh;
  font-size: 1vw;
  color: #987B6E; }

.form-button {
  color: #E7D9CD;
  text-transform: uppercase;
  font-family: 'Gotham';
  font-weight: bold;
  display: flex;
  margin: 5vh 0 auto auto; }
  .form-button img {
    width: 5.8vw;
    margin-left: 1vw;
    transition: all 0.3s; }
  .form-button span {
    font-size: 0.7vw;
    letter-spacing: 1.3px; }
  .form-button:hover img {
    transform: translate(10px, 0px); }

.contact_thank {
  background: #54332B;
  transform: translate(14.8%, 0%);
  width: 83%;
  padding: 10.5% 6.6% 11%;
  color: #E7D9CD;
  margin-top: -45px;
  display: none; }
  .contact_thank h2 {
    margin-bottom: 4vh; }
  .contact_thank p {
    font-size: 0.91vw;
    text-align: center;
    width: 99%;
    margin: 0 auto;
    line-height: 1.8em;
    letter-spacing: -0.1px;
    font-weight: bold; }
  .contact_thank .form-button {
    margin: 7.5vh auto 0 auto;
    width: max-content; }

#wrapper.page_product {
  padding-top: 138px; }
  #wrapper.page_product .products {
    margin-top: 12vh; }
  #wrapper.page_product .gallery_wrap {
    position: relative; }
    #wrapper.page_product .gallery_wrap:before {
      position: absolute;
      content: '';
      width: 98%;
      height: 1px;
      background-image: url("../images/decor/border.svg");
      bottom: 0%;
      left: 1%; }
  #wrapper.page_product .products .section_top {
    margin-bottom: 11vh; }

.productOne {
  margin-top: 6vh; }

.product_content {
  margin: 9% 0% 0% 1%; }

.product_content_title {
  margin-bottom: 13vh; }
  .product_content_title h1 {
    margin-bottom: 1.8vh; }
  .product_content_title span {
    color: #A99085;
    font-size: 1.35vw; }

.product_content_info {
  margin-bottom: 9.5vh;
  color: #A99085; }
  .product_content_info h3 {
    margin-bottom: 3.8vh; }
  .product_content_info p {
    width: 83%;
    font-size: 1.11vw;
    line-height: 1.54em; }
  .product_content_info ul {
    font-size: 1.1vw;
    margin-bottom: 4vh; }
    .product_content_info ul li {
      margin-bottom: 2vh;
      margin-right: 1.4vw; }

.product_image_wrap {
  position: relative; }

.product_wrap_contact {
  margin-top: 0vh; }

.product_image {
  width: 98%;
  position: relative;
  margin: auto 0 auto auto;
  height: 88vh;
  max-height: 88vh; }
  .product_image.active .product_active {
    display: block; }
  .product_image.active .product_default {
    display: none; }
  .product_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover; }

.product_button {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: 80px;
  height: 80px; }
  .product_button svg {
    width: 100%;
    height: 100%; }
  .product_button.active rect {
    fill: #492922; }
  .product_button.active path {
    fill: #E7D9CD; }

.product_list_size {
  display: flex; }

.product_size {
  color: #987B6E;
  font-family: 'Gotham';
  font-size: 1.1vw;
  transition: all 0.3s; }
  .product_size:hover, .product_size.active {
    color: #E7D9CD; }

.product_contact {
  margin: 0% 0% 0% 0.5%; }
  .product_contact svg {
    width: 65px;
    height: 65px;
    margin-right: 1.3vw; }
  .product_contact h3 {
    margin-bottom: 5.5vh; }
  .product_contact a {
    display: flex;
    align-items: center; }
    .product_contact a span {
      font-size: 1.7vw;
      letter-spacing: 1.5px; }
      .product_contact a span span {
        color: #AD9D90; }
    .product_contact a:hover rect {
      fill: #926E4E; }
    .product_contact a:hover path {
      fill: #E7D9CD; }

.product_active {
  display: none; }

#wrapper.page_product .gallery_wrap {
  display: none; }
  #wrapper.page_product .gallery_wrap.active {
    display: flex; }

.fb_iframe_widget {
  right: 0%;
  bottom: 16%;
  z-index: 8;
  display: block !important;
  transform: scale(1.3) translate(13%, 17%); }

.facebook_iframe {
  transform: translate(5%, -8%); }

.chat_button {
  width: 9vmin;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 9; }
  .chat_button svg {
    width: 100%;
    height: 100%; }
  .chat_button:hover path {
    fill: #E7D9CD; }
  .chat_button:hover circle {
    fill: #492922; }

.page_catalog .products {
  margin: 6.5vh 0vh 10vh; }

#wrapper.page_collection {
  padding-top: 140px; }
  #wrapper.page_collection .section_top {
    margin-bottom: 6vh; }
  #wrapper.page_collection .collection .product {
    flex: auto;
    margin: 0% 0% 6vh 0%; }
  #wrapper.page_collection .collection img {
    object-fit: cover; }

#wrapper.page_news,
#wrapper.page_new,
#wrapper.page_project,
#wrapper.page_about,
#wrapper.page_contact {
  padding-top: 140px; }

.plyr__control {
  background-image: url(../images/icons/play.svg) !important;
  width: 120px !important;
  height: 120px !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important; }
