@media (max-width: 1500px) {
  #wrapper {
    padding-top: 75px; }
  .link {
    letter-spacing: 1px !important; }
    .link:before {
      height: 1.7vh; }
    .link img {
      width: 80px;
      margin-top: 2px; }
  .link-3 {
    font-size: 0.78vw; }
  .link-4 {
    font-size: 0.7vw; }
  .section_top {
    padding-left: 0%;
    align-items: flex-start; }
  .header_wrap {
    min-height: 75px; }
  .header_logo {
    padding-left: 0.6%; }
  .header_menu {
    padding: 0px 0px 0px 1.5%; }
    .header_menu li {
      height: 65%; }
      .header_menu li:before {
        top: 75px; }
  .header_list_menu {
    position: fixed;
    top: 75px; }
  .header_actions {
    padding-right: 0px;
    transform: translate(1%, 0px); }
    .header_actions .link-3 svg {
      margin-right: 10px; }
  .product_photo {
    height: 275px; }
  .product_photo img {
    min-height: 275px; }
  .header_list_slider {
    margin: 0 auto 4.5%; }
  .folder_info {
    height: 550px;
    max-height: 550px;
    padding: 0% 0% 0% 6%; }
  .folder_social {
    transform: translate(0%, -74%); }
  .folder_social_link svg {
    transform: scale(1);
    width: 13px;
    height: 13px; }
  .folder_slider .slick-dots {
    bottom: 18%;
    right: 2.5%; }
    .folder_slider .slick-dots li.slick-active:before {
      bottom: -25px; }
  .folder_photo {
    height: 100%; }
    .folder_photo img {
      height: 100%;
      object-fit: cover; }
  .folder_button svg {
    height: 17px; }
  .folder_link {
    left: -1%; }
  .fetures {
    margin-top: 14vh; }
    .fetures .section_top {
      margin-bottom: 12vh;
      padding-left: 0%; }
  .features_item figure {
    padding-bottom: 11.5vh;
    margin: 0% 0% 10vh 0%; }
  .products {
    margin-top: 19vh; }
    .products .section_top {
      padding-left: 0%; }
  .product_info {
    margin-top: 12.5%; }
  .products_button {
    width: 2.5vw; }
    .products_button.products_prev {
      left: 0.5%;
      transform: translate(1vw, -4px); }
      .products_button.products_prev:hover {
        transform: translate(0.7vw, -4px); }
    .products_button.products_next {
      left: 3.9%;
      transform: translate(0%, -4px); }
      .products_button.products_next:hover {
        transform: translate(10%, -4px); }
  .partners_button {
    width: 2.2vw; }
    .partners_button.partners_prev {
      left: 0%;
      transform: translate(1.5vw, -3px); }
      .partners_button.partners_prev:hover {
        transform: translate(1.3vw, -3px); }
    .partners_button.partners_next {
      left: 5%;
      transform: translate(0%, -3px); }
      .partners_button.partners_next:hover {
        transform: translate(10%, -3px); }
  .banner_photo img {
    height: 100%;
    object-fit: cover; }
  .banner_info span:before {
    transform: scale(1) translate(5px, 0px); }
  .banner_info span:after {
    transform: scale(1) translate(-5px, -2px) rotate(180deg); }
  .folder_button {
    right: -2%;
    top: 46%;
    width: 2.5vw; }
  .projects_preview {
    margin: 18.5vh 0% 20vh 0%; }
  .projects_preview_info {
    padding-left: 0%; }
    .projects_preview_info p {
      line-height: 1.55em; }
  .projects_preview_photo {
    padding: 1.5% 0% 0% 2%; }
  .banner {
    height: 79vh;
    margin-bottom: 10vh; }
  .banner_info .title {
    margin-bottom: 6%;
    transform: translate(0%, 60%); }
  .partners_slide {
    margin-bottom: 10.5vh; }
  .contact_us_info {
    height: 58vh; }
  .contact_us_icon svg {
    width: 70px;
    height: 70px; }
  .breadcrumb_item:before {
    right: -10px; }
  footer {
    padding: 14vh 0vh 13vh; }
  .footer_info {
    padding: 4% 0% 0% 3.5%; }
  .footer_span {
    margin-bottom: 3.3vh;
    font-size: 0.87vw; }
  .footer_contact {
    padding-left: 0%; }
  .news_item {
    padding-left: 0%; }
  .news_photo {
    max-height: 68vh;
    height: 68vh; }
  .news_info p {
    font-size: 1.09vw;
    line-height: 1.6em; }
  .new_container {
    margin: 4vh auto; }
    .new_container img {
      max-height: 67vh;
      height: 67vh; }
    .new_container blockquote:after {
      transform: scale(1) translate(1.4vw, -20%); }
    .new_container i {
      line-height: 1.4em;
      margin: 0% 0% 5% 0%; }
  .navigation_wrap {
    height: 9vh;
    margin-bottom: 8vh; }
    .navigation_wrap .link img {
      margin-top: 3px; }
  .about_slide {
    height: 66vh; }
  .contact[data-decor="lace"]:before, .contact[data-decor="lace"]:after {
    top: 20.5%; }
  .contact_list {
    margin-top: 6.5vh; }
    .contact_list li {
      padding-bottom: 4.8vh; }
  .contact_social li {
    margin-right: 2vw; }
    .contact_social li svg {
      width: 12px;
      height: 12px; }
  .contact_form {
    margin-top: -30px;
    padding: 9.5% 6.6% 7%; }
    .contact_form input,
    .contact_form textarea {
      padding: 3.2% 1% 3.2% 5%; }
  .contact_container {
    width: 82.5%; }
  .conatct_action h2 {
    margin-bottom: 6.5vh; }
  .contact_thank {
    padding: 10.5% 6.6% 11%;
    margin-top: -27px;
    width: 2.5vw;
    bottom: 0.2%; }
    .contact_thank h2 {
      margin-bottom: 3.5vh; }
    .contact_thank p {
      font-size: 0.91vw; }
    .contact_thank .form-button {
      margin: 8.5vh auto 0 auto; }
    .contact_thank.about_prev {
      left: 0%;
      transform: translate(1vw, -4px); }
      .contact_thank.about_prev:hover {
        transform: translate(0.7vw, -4px); }
    .contact_thank.about_next {
      left: 4%;
      transform: translate(0%, -4px); }
      .contact_thank.about_next:hover {
        transform: translate(10%, -4px); }
  .about_logo {
    height: 115px; }
  .product_content {
    margin: 9% 0% 0% 0%; }
  .product_content_title {
    margin-bottom: 14vh; }
  .product_content_info {
    margin-bottom: 10vh; }
    .product_content_info h3 {
      margin-bottom: 4.3vh; }
    .product_content_info ul {
      margin-bottom: 4.5vh; }
      .product_content_info ul li {
        margin-right: 1.5vw; }
  .product_image {
    height: 95vh;
    max-height: 95vh; }
  .product_contact svg {
    width: 45px;
    height: 45px;
    margin-right: 1.3vw; }
  .product_contact a span {
    letter-spacing: 1px; }
  .navigation_prev:before {
    width: 5.5vw;
    height: 1.8vh;
    top: 45%;
    left: -2% !important; }
  .navigation_next:before {
    width: 5.5vw;
    height: 1.8vh;
    top: 40%; }
  .chat_button {
    width: 60px;
    height: 60px;
    bottom: 6%;
    right: 2%; }
  .facebook_iframe {
    transform: translate(10%, -8%);
    height: 250px; }
  .fb_iframe_widget {
    transform: scale(1) translate(-5%, 5%);
    right: auto;
    bottom: 0%; }
  .footer_social {
    margin-top: 9%; }
    .footer_social svg {
      width: 13px;
      height: 13px; }
  .about_button {
    bottom: -0.7%;
    width: 2.5vw; }
    .about_button.about_next {
      left: 4%; }
      .about_button.about_next:hover {
        left: 4.2%; }
    .about_button.about_prev {
      left: 1.2%; }
      .about_button.about_prev:hover {
        left: 1%; }
  .news_photo,
  .projects_photo {
    max-height: 390px;
    height: 390px; }
  .products_button svg,
  .partners_button svg,
  .about_button svg {
    height: 17px; }
  #wrapper.page_news, #wrapper.page_collection, #wrapper.page_projects, #wrapper.page_new, #wrapper.page_project, #wrapper.page_about, #wrapper.page_product {
    padding-top: 100px; }
  #wrapper.page_contact {
    padding-top: 105px; } }

@media (min-width: 991px) {
  .product_button:hover rect {
    fill: #492922; }
  .product_button:hover path {
    fill: #E7D9CD; }
  .navigation_next:before,
  .navigation_next:after {
    top: 37%; } }

@media (min-width: 2000px) {
  #wrapper {
    padding-top: 11vh; }
  .slick-slider button {
    bottom: 1.5% !important; }
    .slick-slider button.folder_button {
      bottom: auto !important; }
    .slick-slider button.partners_button {
      bottom: -7.5% !important; }
  .navigation_next:before,
  .navigation_next:after {
    top: 45%; }
  .products_slider {
    padding: 0% 0% 6% 0.9%; }
  footer:before {
    height: 3.5vh; }
  .fb_iframe_widget {
    bottom: 0%;
    right: 0%;
    transform: scale(1.8) translate(14%, 25%); }
  .pagination_button svg {
    height: 1.7vh; }
  .news_photo,
  .projects_photo {
    max-height: 1000px;
    height: 1000px; } }

@media (min-width: 2300px) {
  .fb_iframe_widget {
    transform: scale(2.3) translate(25%, 30%); }
  .slick-slider button {
    bottom: 0.5% !important; }
    .slick-slider button.folder_button {
      bottom: auto !important; }
    .slick-slider button.partners_button {
      bottom: -9% !important; } }

@media (min-width: 3000px) {
  .fb_iframe_widget {
    transform: scale(2.5) translate(25%, 35%); } }

@media (min-width: 3500px) {
  .fb_iframe_widget {
    transform: scale(3) translate(30%, 39%); }
  .news_photo,
  .projects_photo {
    max-height: 1200px;
    height: 1200px; } }

@media (min-width: 4000px) {
  .fb_iframe_widget {
    transform: scale(3.5) translate(35%, 39%); }
  .folder_info {
    max-height: 1800px;
    height: 1800px; }
  .news_photo,
  .projects_photo {
    max-height: 1685px;
    height: 1685px; } }

@media (min-width: 5000px) and (min-height: 2000px) {
  .folder_info {
    max-height: 2000px;
    height: 2000px; }
  .news_photo,
  .projects_photo {
    max-height: 1850px;
    height: 1850px; } }

@media (min-width: 5000px) and (min-height: 2500px) {
  .fb_iframe_widget {
    transform: scale(3.5) translate(30%, 40%); }
  .slick-slider button {
    bottom: 1% !important; }
  .folder_info {
    max-height: 2500px;
    height: 2500px; }
  .facebook_iframe {
    transform: translate(10%, -8%);
    height: 250px; }
  .news_photo,
  .projects_photo {
    max-height: 1850px;
    height: 1850px; } }

@media (max-width: 1100px) {
  .fb_iframe_widget {
    transform: scale(0.8) translate(-32%, -10%); } }

@media (max-width: 1025px) {
  .link:before {
    height: 10px;
    top: 5%; }
  .folder_social li {
    margin-bottom: 2vh; }
  .fetures {
    margin-top: 30px; }
    .fetures .section_top {
      margin-bottom: 40px; }
  .features_item figure {
    padding-bottom: 40px;
    margin: 0% 0% 40px 0%; }
  .products {
    margin-top: 40px; }
    .products .section_top {
      margin-bottom: 4vh; }
  .projects_preview {
    margin: 70px 0% 70px 0%; }
    .projects_preview .section_top {
      margin-bottom: 40px; }
  .projects_preview_list {
    margin-bottom: 1vh; }
  .banner {
    height: 400px;
    margin-bottom: 70px; }
  .partners {
    padding-bottom: 70px; }
    .partners .section_top {
      margin-bottom: 55px; }
  .partners_slide_photo {
    margin-bottom: 1vh; }
  .partners_slide {
    margin-bottom: 75px; }
  .contact_us_info {
    height: 300px; }
  footer {
    padding: 70px 0vh; }
  .footer_list li {
    margin-bottom: 1vh; }
  .footer_span {
    margin-bottom: 1vh;
    padding-bottom: 1vh; }
  .breadcrumb {
    margin: 15px 0vh; }
  .page_catalog .products {
    margin: 45px 0vh; }
  .pagination {
    margin: 40px 0%; }
  .gallery {
    margin: 75px 0; }
  .page_collection .product_photo {
    height: 250px; }
  #wrapper.page_collection .collection .product {
    margin: 0% 0% 3vh 0%; }
  .new_container img,
  .project_container img,
  .about_container img {
    width: 100%;
    max-height: 30vh; }
  .about_slide {
    height: 300px;
    margin-bottom: 70px; }
  .product_image {
    height: 400px;
    max-height: 400px; }
  .product_content_title {
    margin-bottom: 5vh; }
  .product_content_info {
    margin-bottom: 5vh; }
    .product_content_info h3 {
      margin-bottom: 2.3vh; }
    .product_content_info ul li {
      margin-bottom: 1vh; }
  #wrapper.page_product .products {
    margin-top: 5vh; }
    #wrapper.page_product .products .section_top {
      margin-bottom: 5vh; }
  .folder_next {
    transform: translate(100%, 0vh); }
  .navigation_wrap {
    height: 100px;
    margin-bottom: 0px; }
  .navigation_prev {
    padding-left: 0px; }
    .navigation_prev:before {
      left: 0% !important; }
  .navigation_next {
    padding-right: 0px; }
    .navigation_next:before {
      right: 15%; }
  .facebook_iframe {
    height: 190px; }
  .fb_iframe_widget {
    transform: scale(0.8) translate(-25%, 0%); } }

@media (max-width: 991px) {
  #wrapper {
    padding-top: 75px; }
  header {
    box-shadow: 0px 1px 0px rgba(152, 123, 110, 0.25); }
  .header_logo img {
    width: 15vw; }
  .header_menu {
    display: none; }
  .header_actions li {
    border-left: 1px solid #926E4E;
    margin: 0px;
    width: 7vw !important;
    display: flex !important;
    justify-content: center; }
    .header_actions li:first-child {
      border: none; }
  .header_actions .link-3 svg {
    margin-right: 0px;
    transform: scale(2.5) translate(0px, -1px); }
    .header_actions .link-3 svg rect {
      fill: rgba(0, 0, 0, 0); }
    .header_actions .link-3 svg path {
      fill: #E7D9CD; }
  #header_action_phone span {
    display: none; }
  #header_action_menu {
    display: block; }
  .search_button {
    margin-top: 0px;
    width: 2vw; }
  .header_button img {
    width: 22px;
    height: 25px; }
  .header_list_menu {
    display: none; }
  .header_wrap a {
    font-size: 1.8vw;
    margin-top: 2%; }
  .header_menu li {
    margin: 0% 0% 4% 0%;
    width: 100%; }
    .header_menu li:hover:before, .header_menu li:hover:after {
      display: none; }
    .header_menu li:hover .header_list_menu {
      height: max-content;
      padding: 0%; }
  .header_list {
    height: 100%;
    align-items: flex-start;
    flex-direction: column; }
  .header_list_icon {
    display: inline-block;
    margin-left: 7px;
    width: 20px;
    height: 20px;
    position: relative;
    transform: translate(0px, 4px); }
    .header_list_icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header_list_icon.open .icon_minus {
      display: block; }
    .header_list_icon.open .icon_plus {
      display: none; }
  .icon_minus {
    display: none; }
  .header_info_social {
    display: flex;
    margin: 6% 0% 0% 0%; }
    .header_info_social li {
      margin: 0% 5% 0% 0%;
      width: auto; }
    .header_info_social img {
      width: 20px; }
  .header_list_menu {
    position: relative;
    top: 15px;
    background: rgba(0, 0, 0, 0); }
  .header_list_slider {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0px; }
    .header_list_slider .product_photo {
      display: none; }
    .header_list_slider .product_info h3 {
      color: #987B6E;
      margin-bottom: 1%; }
    .header_list_slider .product_info p {
      display: none; }
  .header_list_bottom {
    display: none; }
  .header_search_wrap {
    text-align: center; }
  .folder_link {
    display: none; }
  .folder_info {
    height: 100vh; }
  .folder_slide {
    margin-bottom: 0px; }
  .folder_photo {
    height: 100vh; }
    .folder_photo img {
      height: 100%;
      object-fit: cover; }
  .folder_slider .slick-dots {
    justify-content: center;
    bottom: 5%;
    right: 0%; }
    .folder_slider .slick-dots span,
    .folder_slider .slick-dots p {
      display: none; }
    .folder_slider .slick-dots li {
      background-image: url(../images/decor/dot.svg);
      background-size: 100% 100%;
      width: 15px;
      height: 15px;
      margin-left: inherit; }
      .folder_slider .slick-dots li:before {
        display: none !important; }
  .banner_photo {
    height: 100%; }
    .banner_photo img {
      height: 100%;
      object-fit: cover; }
  .partners {
    padding-bottom: 6.5vh; }
  .product_photo {
    height: auto; }
    .product_photo img {
      min-height: auto; }
  .products_slider.slick-slider .slick-dots {
    bottom: 4.3%; }
  .breadcrumb_item:before {
    right: -7px; }
  .product_button {
    width: 50px;
    height: 50px; }
  .products_button {
    bottom: 1.5%; }
  .fb_iframe_widget {
    transform: scale(0.5) translate(-71%, -43%); }
  #wrapper.page_news, #wrapper.page_collection, #wrapper.page_projects, #wrapper.page_new, #wrapper.page_project, #wrapper.page_about, #wrapper.page_product {
    padding-top: 105px; } }

@media (max-width: 850px) {
  .folder_info {
    height: 400px; }
  .facebook_iframe {
    display: none; } }

@media (max-width: 500px) {
  h1 {
    font-size: 7.5vw; }
  h2 {
    font-size: 6.4vw; }
  h3 {
    font-size: 3.8vw; }
  p {
    font-size: 3.75vw; }
  .link-1 {
    font-size: 4.7vw; }
  .link-4 {
    font-size: 2.7vw; }
  .link:before {
    width: 22vw;
    height: 1.7vh;
    left: 22vw;
    top: 15%; }
  .link:hover:before {
    left: 22vw; }
  section[data-decor="border"]:before {
    background-image: url(../images/decor/bottom2.svg); }
  section[data-decor="lace"]:before {
    width: 15vw;
    height: 30vw;
    top: 32%; }
  section[data-decor="lace"]:after {
    width: 15vw;
    height: 30vw;
    top: 32%; }
  .section_top {
    padding-left: 2.5%;
    flex-direction: column; }
    .section_top h2 {
      margin-bottom: 5vh; }
    .section_top .link-4 {
      transform: translate(0vw, 0px) !important; }
  header.open_menu .header_wrap {
    padding: 23% 0% 10% 7%; }
  header.open_menu .header_clouse {
    right: 8.5%; }
  header.open_search #header_action_search.open {
    margin-top: 14%;
    border-bottom: 1px solid #84665B !important;
    width: 107% !important;
    margin-left: -3.5%;
    height: max-content; }
    header.open_search #header_action_search.open .search_wrap input {
      text-transform: uppercase;
      padding: 3.5% 0% 3.5% 0%;
      font-size: 3vw;
      color: #987B6E;
      letter-spacing: 2px;
      width: 100%; }
    header.open_search #header_action_search.open .search_wrap .search_button {
      display: none; }
  #header_action_search {
    transition: all 0s; }
  .header_logo {
    padding-left: 2.5%;
    transform: translate(0px, 0px); }
    .header_logo img {
      width: 30vw; }
  .header_wrap {
    min-height: 50px; }
    .header_wrap a {
      font-size: 4.25vw; }
  .header_list_slider .product_info h3 {
    font-size: 4.5vw;
    letter-spacing: 0.9px;
    margin-bottom: 0px; }
  .header_list_slider {
    margin: 0 auto 20px; }
  .header_list_menu {
    top: 33px; }
    .header_list_menu article {
      margin-bottom: 7.2%; }
  .header_actions {
    flex: 0 45%; }
    .header_actions li {
      width: 15vw !important;
      height: 22px; }
      .header_actions li:last-child {
        width: 12.5vw !important;
        justify-content: flex-end;
        padding-right: 5%; }
    .header_actions .link-3 svg {
      transform: scale(4.5) translate(0px, 0px); }
  .header_button img {
    width: 17px;
    height: 20px; }
  .search_button {
    width: 15px; }
  .header_menu li {
    margin: 0% 0% 9% 0%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .header_info_social {
    display: flex;
    margin: 21% 0% 0% 0%; }
    .header_info_social li {
      margin: 0% 14% 0% 0%; }
  .folder_social {
    display: none; }
  .folder_info {
    height: 50vh;
    width: 80%; }
  .folder_photo {
    height: 50vh; }
  .folder_slider {
    width: 110%;
    margin-left: -5%; }
  .folder_info .title {
    margin-bottom: 27.5%;
    transform: translate(0%, 53%); }
  .folder_slider .slick-dots {
    bottom: 7%; }
    .folder_slider .slick-dots li {
      width: 10px;
      height: 10px;
      margin: 0 4px; }
  .fetures {
    margin-top: 8vh;
    padding-bottom: 5vh; }
    .fetures .section_top {
      margin-bottom: 2vh; }
  .features_info p {
    display: none; }
  .features_item figure {
    padding-bottom: 1vh;
    margin: 0% 0% 2vh 0%; }
    .features_item figure:before {
      display: none; }
    .features_item figure img {
      width: 22vw; }
  .features_info {
    margin-top: 2vh; }
    .features_info .title {
      margin-bottom: 3vh;
      line-height: 1.6em; }
  .product_info h3 {
    margin-bottom: 6%;
    font-size: 5vw; }
  .features_item:nth-child(n+4) figure {
    margin: 0% 0% 0vh 0%; }
  .products {
    margin-top: 9vh;
    padding-bottom: 6vh; }
    .products:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 25px;
      background-size: 100% 100%;
      background-image: url(../images/decor/bottom2.svg);
      bottom: 0%; }
  #wrapper.page_home .products .section_top {
    margin-bottom: 1vh;
    padding-left: 2%; }
  .product {
    margin-bottom: 8vh; }
  .products_slider {
    padding: 0% 0% 6% 6%; }
    .products_slider.slick-slider {
      width: 180%; }
      .products_slider.slick-slider .product {
        margin-right: 0.6%; }
      .products_slider.slick-slider .slick-dots {
        width: 28.7%;
        left: 22.7%;
        bottom: 4.5%; }
  .product_info {
    margin-top: 9.5%; }
  .products_button {
    width: 14vw;
    bottom: 1%;
    z-index: 2; }
    .products_button svg {
      height: 21px; }
    .products_button.products_next {
      left: 13%;
      transform: translate(0%, -4px); }
    .products_button.products_prev {
      left: 3%;
      transform: translate(1vw, -4px); }
      .products_button.products_prev:hover {
        transform: translate(-0.7vw, -4px); }
  .projects_preview {
    margin: 9vh 0% 23vh 0%; }
    .projects_preview .section_top {
      padding-left: 6.5%;
      margin-bottom: 5.5vh; }
    .projects_preview .projects_preview_list {
      display: none; }
  .projects_preview_photo {
    padding: 1.5% 3% 0% 3%; }
  .projects_preview_info {
    padding-left: 3%;
    width: 100%;
    margin-top: 4%; }
    .projects_preview_info p {
      line-height: 1.75em; }
  .banner {
    height: 49vh;
    margin-bottom: 10vh; }
  .banner_info .title {
    transform: translate(0%, -1%);
    margin-bottom: 13%;
    text-align: center; }
  .banner_info span {
    font-size: 2.8vw; }
  .partners {
    padding-bottom: 9.5vh; }
    .partners .section_top {
      margin-bottom: 3vh; }
  .partners_slide {
    margin-bottom: 7vh; }
  .partners_slide_photo {
    margin-bottom: 2vh;
    width: 70%; }
    .partners_slide_photo img {
      height: 7.5vmax; }
  .partners_slide_info p {
    width: 70%;
    text-align: left;
    font-size: 3.2vw;
    line-height: 1.6em; }
  .partners_slider.slick-slider .slick-dots {
    bottom: -2%;
    width: 52%;
    left: 40.7%; }
  .partners_button {
    width: 14vw;
    bottom: -13%;
    z-index: 2; }
    .partners_button svg {
      height: 21px; }
    .partners_button.partners_next {
      left: 24%;
      transform: translate(0%, -4px); }
      .partners_button.partners_next:hover {
        transform: translate(9%, -4px); }
    .partners_button.partners_prev {
      left: 5%;
      transform: translate(1vw, -4px); }
      .partners_button.partners_prev:hover {
        transform: translate(-0.5vw, -4px); }
  .contact_us_info {
    height: 47vh; }
  .contact_us_phone {
    transform: translate(0%, -4.5vh); }
  .contact_us_info h3 {
    transform: translate(0px, 5.5vh);
    font-size: 6.7vw; }
  .contact_us_icon {
    margin: 0.5% 0%;
    transform: translate(0%, 8%); }
  footer {
    padding: 11vh 0vh 13vh; }
    footer:before {
      background-image: url(../images/decor/bottom2.svg); }
  .footer_contact {
    padding-left: 0%;
    width: 100%; }
  .footer_logo {
    display: block;
    margin: 0% auto 7%; }
    .footer_logo img {
      width: 31.3vw; }
  .footer_link {
    font-size: 3.2vw;
    text-align: center;
    width: 60%;
    margin: 0 auto; }
  .footer_info {
    display: none; }
  .footer_social {
    justify-content: center;
    margin-top: 9%; }
    .footer_social li {
      margin-right: 12%; }
    .footer_social svg {
      width: 5.8vw;
      height: 20px; }
  .breadcrumb {
    margin: 7vh 0vh; }
  .breadcrumb_list {
    padding-left: 2.8%; }
  .breadcrumb_item {
    margin-right: 5%;
    font-size: 2.5vw; }
    .breadcrumb_item:before {
      right: -17%; }
  .pagination {
    margin: 8vh 0% 8vh; }
  .pagination_button {
    width: 10vw;
    margin-top: 5px; }
  .pagination_item {
    font-size: 4vw;
    width: 9.3vw; }
  .pagination_wrap {
    justify-content: space-between;
    align-items: flex-start;
    min-width: 85%;
    width: max-content;
    margin: 0 auto; }
  .gallery {
    margin: 9.5vh 0 11vh; }
  .gallery_photo img {
    height: 235px;
    object-fit: cover; }
  .gallery_button {
    width: 14vw;
    z-index: 2; }
    .gallery_button svg {
      height: 21px; }
  .gallery_wrap.slick-slider .slick-dots {
    left: 25%;
    bottom: -1.7%; }
  .news_item,
  .projects_item {
    width: 94%;
    margin: 0 auto 6vh; }
  .news_photo,
  .projects_photo {
    max-height: 250px;
    height: 250px; }
  .news_info,
  .projects_info {
    margin-top: 4vh; }
    .news_info h2,
    .projects_info h2 {
      margin-bottom: 2.6vh;
      font-size: 4.75vw; }
    .news_info p,
    .projects_info p {
      font-size: 3.64vw;
      line-height: 1.7em; }
  .projects .section_top {
    margin-bottom: 1vh; }
  .new[data-decor="lace"]:before, .new[data-decor="lace"]:after,
  .project[data-decor="lace"]:before,
  .project[data-decor="lace"]:after {
    display: none; }
  .new_container,
  .project_container,
  .about_container {
    width: 94%; }
    .new_container:before,
    .project_container:before,
    .about_container:before {
      width: 105%;
      transform: translate(-2.5%, 0%); }
    .new_container img,
    .project_container img,
    .about_container img {
      max-height: 30vh;
      height: 30vh; }
    .new_container p,
    .project_container p,
    .about_container p {
      margin: 3.3vh 0%;
      line-height: 1.7em;
      font-size: 3.72vw; }
    .new_container blockquote,
    .project_container blockquote,
    .about_container blockquote {
      margin: 9% 0% 5vh 0%;
      padding: 14% 0% 0% 6.5%; }
      .new_container blockquote:before,
      .project_container blockquote:before,
      .about_container blockquote:before {
        height: 103%;
        width: 1vw; }
      .new_container blockquote:after,
      .project_container blockquote:after,
      .about_container blockquote:after {
        transform: scale(1) translate(5.4vw, -15%); }
      .new_container blockquote span,
      .project_container blockquote span,
      .about_container blockquote span {
        font-size: 2.6vw; }
    .new_container i,
    .project_container i,
    .about_container i {
      line-height: 1.55em;
      margin: 0% 0% 11% 0%;
      font-size: 4.24vw;
      width: 100%; }
    .new_container ul,
    .project_container ul,
    .about_container ul {
      font-size: 3.7vw;
      margin: 7vh 0% 0% 0%; }
      .new_container ul li,
      .project_container ul li,
      .about_container ul li {
        flex-direction: column;
        margin-bottom: 4.5vh; }
      .new_container ul span,
      .project_container ul span,
      .about_container ul span {
        margin-bottom: 15px;
        width: 100%; }
    .new_container .plyr,
    .project_container .plyr,
    .about_container .plyr {
      height: 27vh;
      margin: 5vh 0% 0vh; }
  .project_container img {
    height: 28vh;
    max-height: 28vh; }
  .navigation_wrap {
    height: 10vh;
    margin-bottom: 8vh;
    margin-top: 1.5vh;
    width: 100%;
    margin: 2vh auto 8vh; }
    .navigation_wrap .link {
      flex-direction: column;
      align-items: flex-start;
      width: 45%; }
      .navigation_wrap .link span {
        white-space: normal;
        margin-top: 1.7vh;
        line-height: 2em !important; }
  .navigation_prev {
    margin-left: 0%; }
    .navigation_prev img {
      transform: rotate(180deg) translate(0px, 2px); }
    .navigation_prev:hover img {
      transform: rotate(180deg) translate(10px, 2px); }
    .navigation_prev span {
      padding-left: 2%; }
  .navigation_next {
    margin-left: 0%;
    align-items: flex-end !important; }
    .navigation_next img {
      order: -1; }
    .navigation_next span {
      text-align: right;
      margin-right: 0px; }
  .page_new .breadcrumb,
  .page_project .breadcrumb {
    margin: 7vh 0vh 3vh; }
  .about[data-decor="lace"]:before, .about[data-decor="lace"]:after {
    top: 7.5%; }
  .about_logo {
    width: 30.5vw;
    height: 110px; }
    .about_logo img {
      width: 100%;
      height: 100%;
      max-height: 100%; }
  .about_container h1 {
    width: 90%;
    margin: 0 auto 5vh; }
  .about_container p {
    line-height: 1.8em; }
  .about_slide {
    height: 42vh;
    margin-bottom: 11vh; }
  .about_slider.slick-slider {
    width: 170%; }
    .about_slider.slick-slider .slick-dots {
      bottom: 5.4%;
      width: 31%;
      left: 23.7%; }
  .about_button {
    width: 14vw;
    bottom: 1%; }
    .about_button svg {
      height: 21px; }
    .about_button.about_next {
      left: 13%;
      transform: translate(0%, -4px); }
      .about_button.about_next:hover {
        transform: translate(5%, -4px); }
    .about_button.about_prev {
      left: 3%;
      transform: translate(1vw, -4px); }
      .about_button.about_prev:hover {
        transform: translate(-3%, -4px); }
  .about_gallery {
    margin-bottom: 7vh; }
  .contact_container {
    flex-direction: column;
    width: 95%; }
    .contact_container h1 {
      font-size: 6.5vw; }
  .contact {
    margin: 12vh 0% 8vh; }
    .contact[data-decor="lace"]:before, .contact[data-decor="lace"]:after {
      display: none; }
  .contact_list {
    margin-top: 6.5vh;
    padding-left: 0.7%; }
    .contact_list li span {
      font-size: 2.7vw; }
    .contact_list li a {
      font-size: 3.18vw; }
  .contact_form {
    margin-top: 0px; }
  .contact_social {
    margin-top: 4.5vh;
    padding-left: 1%; }
    .contact_social li {
      margin-right: 11.5vw; }
      .contact_social li svg {
        width: 15px;
        height: 15px; }
  .conatct_action {
    margin-top: 8vh;
    width: 100%; }
    .conatct_action h2 {
      margin-bottom: 7.5vh; }
  .contact_form {
    width: 115%;
    transform: translate(0%, 0%);
    margin-left: -7%;
    padding: 16.5% 7% 12%; }
    .contact_form input,
    .contact_form textarea {
      padding: 3.9% 1% 3.9% 5.7%;
      font-size: 3.7vw; }
    .contact_form label {
      margin-bottom: 3vh; }
  .form_error {
    font-size: 3vw; }
  .form-button {
    margin: 6vh 0 auto auto; }
    .form-button span {
      font-size: 2.5vw; }
    .form-button img {
      width: 21.8vw;
      margin-left: 5vw; }
  .contact_thank {
    transform: translate(0%, 0%);
    width: 115%;
    margin-left: -7.5%; }
    .contact_thank p {
      font-size: 3vw; }
  .page_catalog .products {
    margin: 6.5vh 0vh 6vh;
    padding-bottom: 0vh; }
    .page_catalog .products:before {
      display: none; }
  .page_catalog .product {
    margin-bottom: 7vh; }
  .page_catalog .product_photo img {
    height: 285px;
    object-fit: cover; }
  .page_catalog .product_info {
    margin-top: 8.5%; }
  #wrapper.page_collection {
    padding-top: 145px; }
    #wrapper.page_collection .section_top {
      margin-bottom: 2vh; }
    #wrapper.page_collection .product_info {
      margin-top: 24px; }
      #wrapper.page_collection .product_info h3 {
        margin-bottom: 15px; }
      #wrapper.page_collection .product_info p {
        line-height: 1.5em; }
  .productOne {
    margin-top: -2vh; }
  .product_image {
    height: 50vh;
    max-height: 50vh; }
  .product_content {
    margin: 12% 0% 0% 2%; }
  .product_content_title {
    margin-bottom: 7vh; }
    .product_content_title h1 {
      font-size: 6.5vw; }
    .product_content_title span {
      font-size: 5vw; }
  .product_content_info {
    margin-bottom: 6vh; }
    .product_content_info h3 {
      margin-bottom: 3.3vh;
      font-size: 5.2vw; }
    .product_content_info p {
      width: 100%;
      font-size: 3.8vw;
      line-height: 1.7em; }
    .product_content_info ul {
      font-size: 3.8vw;
      margin-bottom: 3.5vh;
      flex-direction: column; }
      .product_content_info ul li {
        margin-bottom: 2.5vh; }
  .product_size {
    font-size: 3.8vw; }
  .product_contact {
    padding-left: 3%; }
    .product_contact h3 {
      font-size: 2.8vh;
      margin-bottom: 3.5vh; }
    .product_contact svg {
      width: 48px;
      height: 50px;
      margin-right: 5.7vw; }
    .product_contact a span {
      font-size: 4.7vw; }
  .product_wrap_contact {
    margin-bottom: 15vh; }
  #wrapper.page_product .gallery_wrap:before {
    background-image: url(../images/decor/border.svg);
    bottom: -23%;
    left: 4%;
    width: 53%; }
  #wrapper.page_product .gallery_button {
    bottom: -8.5%; }
  #wrapper.page_product .gallery_wrap .slick-dots {
    bottom: -4.1%; }
  #wrapper.page_product .products {
    margin-top: 19vh;
    padding-bottom: 1vh; }
    #wrapper.page_product .products:before {
      display: none; }
    #wrapper.page_product .products .section_top {
      margin-bottom: 2vh; }
  #wrapper.page_product .products_slider.slick-slider {
    width: 175%; }
  #wrapper.page_product .product_info {
    margin-top: 6.5%; }
  #wrapper.page_product .products_button {
    bottom: 2%; }
  #wrapper.page_product .products_slider .slick-dots {
    bottom: 5.5%; }
  .navigation_next:before,
  .navigation_prev:before {
    top: -20%; }
  .navigation_prev:before {
    left: 8% !important; }
  .navigation_next:before {
    right: 8% !important;
    left: auto !important; }
  .product.slick-active {
    opacity: 1; }
  .product.slick-active + .slick-active {
    opacity: 0.3; }
  .chat_button {
    width: 50px;
    height: 50px;
    bottom: 14%;
    right: 6%; }
  .page_collection .product_photo {
    height: 160px; }
  #wrapper.page_news, #wrapper.page_new, #wrapper.page_project, #wrapper.page_about, #wrapper.page_product {
    padding-top: 80px; }
  #wrapper.page_projects {
    padding-top: 50px; }
  .plyr__control {
    width: 60px !important;
    height: 60px !important; } }
